<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button>
        <!-- <ion-icon name="arrow-back" slot="icon-only"></ion-icon>-->
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Geo Location Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="primary" expand="block" (click)="getGeoLocation()">
    Get Geo Location
  </ion-button>

 <div *ngIf="location">
   <p>
    Longitude: {{location.lng}} <br>
    Latitude:  {{location.lat}}
   </p>
 </div>
</ion-content>
